<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/auth/logout">LOG OUT</a>
    <% if (requests.length > 0) {%>
      <p>Friend Requests:</p>
      <% for(let request of requests) { %>
        <p><%= request.from.username %></p>
        <form action=<%= "/user/request-confirm/"+request._id %> method="POST">
          <button>Yes</button>
        </form>
        <form action=<%= "/user/request-deny/"+request._id %> method="POST">
          <button>No</button>
        </form>
      <% } %>
    <%}%>
    <form action="/user/add-friend" method="POST">
      <label for="friendname">Add Friend:</label>
      <input name="friendname" placeholder="username" type="text" />
      <button>Add</button>
    </form>
    <form action="/post" method="POST">
      <label for="message">Message:</label>
      <input name="message" placeholder="message" type="text" />
      <button>Post</button>
    </form>
    <hr />
    <% if (posts) {%>
      <% for(let post of posts) { %>
        <p>Content: <strong><%= post.message %></strong> User: <%= post.user.username %></p>
        <p>Date posted: <%= post.date %></p>
        <form action=<%= "/post/"+post._id+"/like" %> method="POST">
          <button>Likes: <%= post.likes.length %></button>
        </form>
        <form action=<%= "/post/"+post._id+"/comment" %> method="POST">
          <input name="comment" placeholder="comment" type="text" />
          <button>Comment</button>
        </form>
        <% if (comments.get(post._id.toString())) {%>
          <% for(let comment of comments.get(post._id.toString())) { %>
            <p><%= comment.user.username %>: <strong><%= comment.comment %></strong> <%= comment.date %></p>
          <% } %>
        <%}%>
        <hr />
      <% } %>
    <%}%>
  <% } else { %>
    <h1>Please Login</h1>
    <form action="/auth/login" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Login</button> <a href="/auth/signup">Register</a>
    </form>
  <%}%>
</body>
</html>