<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">New</a>
    <% for(let message of messages) { %>
      <p><strong><%= message.message %></strong> <%= message.name %></p>
      <p><%= message.date %></p>
      <hr />
    <% } %>
  </body>
</html>